<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  id="cordova-plugin-its-inappbrowser"
  version="1.0.0">
  <name>InAppBrowser</name>
  <description>Cordova plugin for InAppBrowser</description>
  <author>quentin.fung@hku.hk</author>
  <license>Apache 2.0</license>
  <keywords>cordova,in,app,browser,inappbrowser,android,ios,plugin</keywords>

  <engines>
  <engine name="cordova" version=">=3.1.0" /><!-- Needs cordova/urlutil -->
  </engines>

  <!-- android -->
  <platform name="android">
    <js-module src="www/inappbrowser.js" name="inappbrowser">
      <clobbers target="its.inAppBrowser.open" />
      <clobbers target="window.open" />
    </js-module>

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="InAppBrowser">
        <param name="android-package" value="hk.hku.its.inappbrowser.InAppBrowser"/>
      </feature>
    </config-file>

    <source-file src="src/android/hk/hku/its/inappbrowser/InAppBrowser.java" target-dir="src/hk/hku/its/inappbrowser" />
    <source-file src="src/android/hk/hku/its/inappbrowser/InAppBrowserDialog.java" target-dir="src/hk/hku/its/inappbrowser" />
    <source-file src="src/android/hk/hku/its/inappbrowser/InAppChromeClient.java" target-dir="src/hk/hku/its/inappbrowser" />

    <!--  drawable src/android/resources -->
    <resource-file src="src/android/res/drawable-hdpi/ic_action_next_item.png" target="res/drawable-hdpi/ic_action_next_item.png" />
    <resource-file src="src/android/res/drawable-mdpi/ic_action_next_item.png" target="res/drawable-mdpi/ic_action_next_item.png" />
    <resource-file src="src/android/res/drawable-xhdpi/ic_action_next_item.png" target="res/drawable-xhdpi/ic_action_next_item.png" />
    <resource-file src="src/android/res/drawable-xxhdpi/ic_action_next_item.png" target="res/drawable-xxhdpi/ic_action_next_item.png" />

    <resource-file src="src/android/res/drawable-hdpi/ic_action_previous_item.png" target="res/drawable-hdpi/ic_action_previous_item.png" />
    <resource-file src="src/android/res/drawable-mdpi/ic_action_previous_item.png" target="res/drawable-mdpi/ic_action_previous_item.png" />
    <resource-file src="src/android/res/drawable-xhdpi/ic_action_previous_item.png" target="res/drawable-xhdpi/ic_action_previous_item.png" />
    <resource-file src="src/android/res/drawable-xxhdpi/ic_action_previous_item.png" target="res/drawable-xxhdpi/ic_action_previous_item.png" />

    <resource-file src="src/android/res/drawable-hdpi/ic_action_remove.png" target="res/drawable-hdpi/ic_action_remove.png" />
    <resource-file src="src/android/res/drawable-mdpi/ic_action_remove.png" target="res/drawable-mdpi/ic_action_remove.png" />
    <resource-file src="src/android/res/drawable-xhdpi/ic_action_remove.png" target="res/drawable-xhdpi/ic_action_remove.png" />
    <resource-file src="src/android/res/drawable-xxhdpi/ic_action_remove.png" target="res/drawable-xxhdpi/ic_action_remove.png" />
  </platform>

  <!-- ios -->
  <platform name="ios">
    <js-module src="www/inappbrowser.js" name="inappbrowser">
      <clobbers target="its.inAppBrowser.open" />
      <clobbers target="window.open" />
    </js-module>
    <config-file target="config.xml" parent="/*">
      <feature name="InAppBrowser">
        <param name="ios-package" value="CDVInAppBrowser" />
      </feature>
    </config-file>

    <header-file src="src/ios/CDVInAppBrowser.h" />
    <source-file src="src/ios/CDVInAppBrowser.m" />

    <framework src="CoreGraphics.framework" />
  </platform>

  <!-- browser -->
  <platform name="browser">
    <js-module src="www/inappbrowser.js" name="inappbrowser">
      <clobbers target="its.inAppBrowser.open" />
      <clobbers target="window.open" />
    </js-module>
    <js-module src="src/browser/InAppBrowserProxy.js" name="InAppBrowserProxy">
      <runs />
    </js-module>
  </platform>
</plugin>
